@use 'sass:map';
@use 'styles/variables' as *;
@use 'styles/mixins' as *;

:host {
  display: block;
}

.hero-block {
  padding: 1rem 1rem 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include respond(lg) {
    padding: 2rem 2rem 6.25rem;
  }
}

.title {
  @include fluid(font-size, 60px, 170px);
  line-height: 0.8;
  font-weight: 400;
  max-width: 100%;

  @include respond(lg) {
    max-width: 90%;
  }
}

.description {
  line-height: 1.2;
  max-width: 100%;

  @include respond(md) {
    line-height: 1.5;
    font-size: 1.5rem;
    max-width: 59.375rem;
  }
}
