@font-face {
  font-family: 'PP Neue Montreal';
  src:
    url('../assets/fonts/PPNeueMontreal-Thin.woff2') format('woff2'),
    url('../assets/fonts/PPNeueMontreal-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src:
    url('../assets/fonts/PPNeueMontreal-Book.woff2') format('woff2'),
    url('../assets/fonts/PPNeueMontreal-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src:
    url('../assets/fonts/PPNeueMontreal-Italic.woff2') format('woff2'),
    url('../assets/fonts/PPNeueMontreal-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src:
    url('../assets/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
    url('../assets/fonts/PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src:
    url('../assets/fonts/PPNeueMontreal-SemiBolditalic.woff2') format('woff2'),
    url('../assets/fonts/PPNeueMontreal-SemiBolditalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src:
    url('../assets/fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
    url('../assets/fonts/PPNeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
