@import 'variables';

.dropdown {
  width: max-content;
  user-select: none;

  .dropdown-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: $white;
    border-radius: 15px;
    border: 1px solid $white;
    padding: 0.4375rem 0.9375rem;
    @include font-normal;
    font-size: 1rem;
    line-height: 24px;
  }

  .dropdown-content {
    animation: slideInUp 0.3s ease-out;
    position: absolute;
    top: -110%;
    left: 0;
    cursor: pointer;
    background-color: transparent;
    color: $white;
    border-radius: 15px;
    border: 1px solid $white;
    padding: 0.4375rem 0.9375rem;
    @include font-normal;
    font-size: 1rem;
    line-height: 24px;
    width: 100%;

    .dropdown-item {
      color: $white;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s;
    }
  }

  .flag {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOutDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
