<div class="dropdown">
  <div class="dropdown-btn" [ngClass]="{collapsed: isActive}" (click)="setActive()">
    <img class="flag" [src]="'/assets/img/svg/' + selectedLang.image + '.svg'" alt="flag" />
    <span>{{ selectedLang.label }}</span>
  </div>
  <div *ngIf="isActive" class="dropdown-content">
    <ng-container *ngFor="let lang of options">
      <a
        *ngIf="selectedLang.value !== lang.value"
        [href]="getLocaleUrl(lang.value)"
        class="dropdown-item"
        [attr.aria-label]="'Switch to ' + lang.label"
      >
        <img class="flag" [src]="'/assets/img/svg/' + lang.image + '.svg'" alt="flag" />
        <span>{{ lang.label }}</span>
      </a>
    </ng-container>
  </div>
</div>
