@use 'sass:map';
@use 'styles/variables' as *;
@use 'styles/mixins' as *;

:host {
  display: block;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 98;

  @media (max-width: 767px) {
    bottom: 16px;
    right: 16px;
    transform: scale(0.9);
    transform-origin: bottom right;
  }
}

.switcher {
  position: relative;
  width: max-content;
  user-select: none;
}

.switcher-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: map.get($colors, white);
  border-radius: 15px;
  border: 1px solid map.get($colors, white);
  padding: 0.4375rem 0.9375rem;
  @include font-normal;
  font-size: 1rem;
  line-height: 1.5;
}

.switcher-dropdown {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 0;
  width: 100%;
  animation: slideUp 0.2s ease-out;
}

.switcher-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: map.get($colors, white);
  border-radius: 15px;
  border: 1px solid map.get($colors, white);
  padding: 0.4375rem 0.9375rem;
  @include font-normal;
  font-size: 1rem;
  line-height: 1.5;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }
}

.flag {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
